# ==========================================
# Project
# ==========================================

PROJECT_NAME=diabetes-pyspark-analysis

# ==========================================
# Python
# ==========================================

PYTHONUNBUFFERED=1

# ==========================================
# Spark
# ==========================================

SPARK_APP_NAME=DiabetesAnalysis

SPARK_MASTER=local[*]

# ==========================================
# Paths
# ==========================================

DATA_DIR=/workspace/data

OUTPUT_DIR=/workspace/outputs