# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================

.venv/
venv/
env/

# ==========================================
# Jupyter Notebook
# ==========================================

.ipynb_checkpoints/

# ==========================================
# Environment Variables
# ==========================================

.env

# ==========================================
# Logs
# ==========================================

logs/
*.log

# ==========================================
# Build
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Pytest
# ==========================================

.pytest_cache/

# ==========================================
# Coverage
# ==========================================

.coverage
htmlcov/

# ==========================================
# MyPy
# ==========================================

.mypy_cache/

# ==========================================
# Ruff
# ==========================================

.ruff_cache/

# ==========================================
# Temporary Files
# ==========================================

*.tmp
*.swp

# ==========================================
# Output
# ==========================================

outputs/

# Keep folder structure
!outputs/.gitkeep

# ==========================================
# Data
# ==========================================

data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep